@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.space-grotesk-unique {
  font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.padding-x {
  @apply px-5 md:px-7 lg:px-9 xxl:px-12;
}

.padding-y {
  @apply py-2 lg:py-2 xxl:py-4;
}

.width {
  @apply max-w-full lg:max-w-[1350px] xxl:max-w-[1600px] mx-auto;
}

.trans {
  @apply transition-all duration-500;
}

.scrollBAR::-webkit-scrollbar {
  width: 0;
}
